<div th:fragment="confirmModal">
    <div class="modal fade" id="globalConfirmModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body" id="confirmMessage"></div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button id="confirmOkBtn" class="btn btn-danger">Đồng ý</button>
                </div>

            </div>
        </div>
    </div>
</div>
