<div th:fragment="sidebar(activeItem)" class="sidebar">
    <div class="sidebar-header">
        <a th:href="@{/management}" class="sidebar-brand">QUẢN TRỊ VIÊN</a>
    </div>
    <div class="nav-sidebar">
        <div class="nav-item">
            <a href="javascript:void(0)" class="nav-link spa-link" data-page="products">
                <i class="fas fa-bus"></i> Quản lý Chuyến xe
            </a>
        </div>
        <div class="nav-item">
            <a href="javascript:void(0)" class="nav-link spa-link" data-page="orders">
                <i class="fas fa-shopping-cart"></i> Đơn hàng
            </a>
        </div>
        <div class="nav-item">
            <a href="javascript:void(0)" class="nav-link spa-link" data-page="notices">
                <i class="fas fa-bell"></i> Thông báo
            </a>
        </div>
        <div class="nav-item">
            <a href="javascript:void(0)" class="nav-link spa-link" data-page="profile">
                <i class="fas fa-user-circle"></i> Cửa hàng của tôi
            </a>
        </div>
    </div>
</div>