<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Đăng Nhập</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>

    <script th:src="@{/js/common-component.js}"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="bgr-img">
    <div class="login-wrapper">
        <div class="col-md-6 col-md-offset-3 login-box">
            <h1 style="margin-left: 280px">Đăng nhập</h1>
            <form action="/api/v1/auth/login" method="post" object="signInRequest">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">Tài khoản hoặc mật khẩu không hợp lệ</div>
                </div>
                <div th:if="${error}">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">Đăng xuất thành công!</div>
                </div>
                <div class="inputs">
                    <div class="form-group ">
                        <label for="username">Tên đăng nhập</label> :
                        <input type="text" class="form-control login-input" id="username" name="username"
                               placeholder="Nhập tên đăng nhập" autofocus />
                    </div>

                    <div class="form-group">
                        <label for="password">Mật khẩu</label> :
                        <input type="password" id="password" name="password" class="form-control login-input"
                               placeholder="Nhập mật khẩu" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="login-btn-div">
                        <button type="submit" class="form-control btn btn-primary login-btn">Đăng nhập</button>
                    </div>
                </div>
            </form>

            <div class="form-group text-center">
                <span>Chưa có tài khoản? <a th:href="@{/signup}">Đăng ký tại đây</a></span><br>
                <span>Bạn là nhà xe? <a th:href="@{/signup-seller}">Đăng ký bán tại đây</a></span>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>
